@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Лабораторна робота</h1>
    <p>Додаток для зберігання та відображення списку піц. <a href="/users/index">Почати</a>.</p>
</div>