@using pizza.ViewModels.Orders;
@model IndexViewModels;

@{
    Layout = "_Layout";
    ViewData["layoutContainerClass"] = "orders-index";
}

<div class="row mt-5 mb-5">
    <div class="col-md-3">
        <a class="btn btn-sm btn-success" href="/orders/create">Створити</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="id">#</th>
            <th class="name">Загальна вартість</th>
            <th class="username">Клієнт</th>
            <th class="actions"></th>
        </tr>
    </thead>

    <tbody>
        @foreach(pizza.Models.Order order in Model.orders) {
            <tr>
                <td>@order.id</td>
                <td>@order.totalPrice</td>
                <td>@order.user.GetFullName()</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="/orders/update/@order.id">Редагувати</a>
                    <a class="btn btn-sm btn-danger" href="javascript:void(0)" onclick="document.getElementById('delete-form-@order.id').submit()">Видалити</a>
                    <form id="delete-form-@order.id" method="post" action="/orders/delete/@order.id"></form>
                </td>
            </tr>
        }
    </tbody>
</table>