@using pizza.ViewModels.Items;
@model IndexViewModels;

@{
    Layout = "_Layout";
    ViewData["layoutContainerClass"] = "items-index";
}

<div class="row mt-5 mb-5">
    <div class="col-md-3">
        <a class="btn btn-sm btn-success" href="/items/create">Нова</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="id">#</th>
            <th class="name">Назва</th>
            <th class="username">Вартість</th>
            <th class="actions"></th>
        </tr>
    </thead>

    <tbody>
        @foreach(pizza.Models.Item item in Model.items) {
            <tr>
                <td>@item.id</td>
                <td>@item.title</td>
                <td>@item.price</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="/items/update/@item.id">Редагувати</a>
                    <a class="btn btn-sm btn-danger" href="javascript:void(0)" onclick="document.getElementById('delete-form-@item.id').submit()">Видалити</a>
                    <form id="delete-form-@item.id" method="post" action="/items/delete/@item.id"></form>
                </td>
            </tr>
        }
    </tbody>
</table>